@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom variables */
:root{
        --primary: black;
        --secondary: white;
        --alternative: rgb(18, 21, 37);
        --awesome: #E59BE9;
        --mainBoxShadow: .5vw .5vw .3vw var(--alternative), inset .8vw 1vw .2vw var(--secondary), 1vw 1vw .2vw var(--secondary); 
        --borderColor: #8644A2;
        --elementShadow: .2vw .3vw .2vw #FFEBB2;  
        --bgHeaderFooter: #F1E5D1;
}

@property --top-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --top-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-right{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

/* Navbar & footer */
:is(.navbar, footer){
    background-color: var(--bgHeaderFooter);
}

/* Navbar */
img[alt='logo']{
    width: 19rem;
    aspect-ratio: 4/1;
    object-fit: cover;
    object-position: center;
    transition: all .5s;

    &:hover{
        transform: scale(1.1);
    }
}
/* Navbar */
.navbar-nav .nav-link:hover{
    color: var(--alternative);
}

/* Override hover effect for dropdown items */
.nav-item .dropdown-item:hover {
    /* Set the properties to the desired values on hover */
    color: inherit; /* or any other color */
    background-color: transparent; /* or any other color */
    text-decoration: none; /* if there's an underline effect */
    /* Add any other properties that are being changed on hover */
}

.navbar-nav .nav-link{
    font-family:  "Inria Serif", serif;
    color: var(--primary);
    font-size: 1.1rem;
    margin-right: 4rem;
}

/* Grid Layout */
:is(body) {
    display: grid;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--bgHeaderFooter); ;
}

/* Create 3 rows */
:is(body){
    grid-template-rows: auto minmax(1fr, 100dvh) auto;
}

section {
    scroll-margin-block: 5rem;
}

/* To change the color of the toggler */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 21, 37)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* To change the color of the toggler when you hover */
.navbar-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 21, 37)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav li {
    position: relative;
}

.navbar-nav li::after{
    content: "";
    position: absolute;
    left: 30%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for half of the width */
    bottom: 0;
    height: 3px;
    width: 60%;
    background: var(--alternative);
    scale: 0 1;
    transition: scale 250ms;
}

.navbar-nav li:hover::after{
    scale: 1 1;
}

.navbar-nav li .active {
    border-bottom: 3px solid var(--alternative); 
    width: 6rem;
}

.dropdown-item .active{
    border-bottom: 3px solid var(--alternative); 
    width: 6rem;
    background-color: transparent;
}

.badge{
    background-color: var(--alternative);
}

/* Home Section */
.homeBanner{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/banner26.png");
    background-size: cover;
    background-position: center; 
}

#home{
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Grey color with 50% opacity */
    z-index: 1; /* Ensure it's above the background content */
}

.homeText{
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 2;
    margin: 12rem auto 12rem;
}

.homeHeading{
    z-index: 2;
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-size: 6rem;
}

.homeText i{
    z-index: 2;
    font-size: 3.5rem;
}

.homeText p{
    margin-top: -1rem;
    z-index: 2;
    font-weight: bold;
    font-size: 1.5rem;
}

.btnShopNow{
    padding: 0.5rem 1.3rem;
    background-color: var(--alternative);
    border: 1px solid white;
    margin-top: 2rem;
    border-radius: 0.4rem;
}

/*Women Category Section */
.secHeading h1{
    font-family: "Inria Serif", serif;
    margin-top: 3rem;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 3rem;
    color: var(--primary);
    font-weight: bold;
}

.cicrleContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.categoryCircles a{
    text-decoration: none;
}

.categoryCircles h3:hover{
   color: var(--alternative);
}

.categoryCircles h3{
    font-family: "Lato", sans-serif;
    color: var(--primary);
    margin-top: 1rem;
}

.circle{
    width: 20vw;
    height: auto;
    border-radius: 50%;
    border: 1px solid var(--alternative);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

/* About Link Banner */
#aboutLink{
    position: relative;
    z-index: 0;
}

.aboutLink{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/banner1.jpg");
    background-size: cover;
    background-position: center; 
}

.aboutLinkText{
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 2;
    margin: 14rem auto 14rem;
}

.aboutLinkHeading{
    z-index: 2;
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-size: 4rem;
}

.aboutLink i{
    z-index: 2;
    font-size: 3.2rem;
}

.luxury{
    font-size: 1.5rem;
    font-style: italic;
}

.aboutLink p{
    margin-top: 1rem;
    z-index: 2;
    font-weight: bold;
    font-size: 1.5rem;
}

.btnAboutLink{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    border: 1px solid white;
    margin-top: 2rem;
    border-radius: 0.4rem;
}

/* New Arrivals */
.newArrivalsProducts{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.card{
    width: 18rem;
    border: 1px solid var(--alternative);
}
.card-img-top{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.btnViewMore{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    border: 1px solid white;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    margin-top: 4rem;
}

.card-body{
    background-color: var(--bgHeaderFooter);
}

.card-title, .card-text, .product-amount {
    color: var(--primary);
}

/* Mens category section */
.cicrleContainerMens{
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    margin-bottom: 3rem;  
}

/* Footer Section */
.footer{
    display: flex;
    justify-content: flex-start;
    gap: 17rem;
}

img[alt="footerLogo"]{
    width: 20rem;
    aspect-ratio: 4/1;
    object-fit: cover;
    object-position: center;
}

.leftSection{
    width: 30vw;
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.rightSection{
    margin-top: 3rem;
    width: 45vw;
    display: flex;
    justify-content: space-between;
}

.leftSection h3{
    margin-left: 1rem;
    font-family: "Inria Serif", serif;
    margin-top: 3rem;
    font-weight: bold;
}

.leftSection h5{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

 .input-container {
    position: relative;
    width: 20vw;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.input-container [type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: none; /* Remove other borders */
    border-bottom: 1px solid #0a0a0a; /* Add bottom border */
    font-size: 1rem;
    outline: none;
   background-color: var(--bgHeaderFooter);
   font-style: italic;
   font-weight: 600;
   color: var(--primary);
}
  

.btnSubscribe{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    border: 1px solid white;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
}

.rightSection h4{
    font-family: "Inria serif", sans-serif;
    font-weight: bold;
    color: var(--alternative);
    font-size: 1.4rem;
}

.socialIcons{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.links{
    display: flex;
    justify-content: space-between;
}

.Products{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.Company{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.rightSection a{
    text-align: left;
    text-decoration: none;
    color: var(--primary);
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
}

/*------------------------------------------------------- About Page --------------------------------------------------------------------------- */
.aboutBannerImage{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/banner5.jpg");
    background-size: cover;
    background-position: center; 
}

#aboutBanner{
    position: relative;
    z-index: 0;
}

.aboutOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Grey color with 50% opacity */
    z-index: 1; /* Ensure it's above the background content */
}

.aboutText{
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 2;
    margin: 12rem auto 12rem;
}

.aboutHeading{
    z-index: 2;
    font-family: "Inria Serif", serif;
    font-size: 6rem;
    font-weight: bold;
}

.welcome{
    margin-top: 1rem;
    z-index: 2;
    font-size: 2.2rem;
}

.intro{
    font-size: 1.2rem;
}

/* Our Mission Section */
.ourMissionContainer{
    display: flex;
    justify-content: space-around;
    gap: 20rem;
}

.ourMissionFirst{
    width: 38vw;
    text-align: left;
}

.ourMissionFirst p {
    margin-left: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
}

img[alt="aboutImage1"]{
    width: 30vw;
    border: 1px solid var(--alternative);
    margin-top: 3rem;
}

/* Our promise section */
.ourPromiseSection{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1rem;
}

.promise{
    width: 17vw;
}

.promise img{
    width: 10vw;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.promise p {
    margin-top: 1rem;
    color: var(--primary);
}

/* Craftsmanship Section */
.craftsmanshipContainer{
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.block1{
    width: 35vw;
    margin-top: 3rem;
    border: 1px solid var(--alternative);
}

.block2{
    width: 40vw;
}

.block2 p{
    text-align: left;
    margin-left: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    color: var(--primary);
}

/*---------------------------------------------- Womens Page --------------------------------------------*/
.womensBannerImage{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/banner23.jpg");
    background-size: cover;
    background-position: center; 
}

#womensBanner{
    position: relative;
    z-index: 0;
}

.womensOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Grey color with 50% opacity */
    z-index: 1; /* Ensure it's above the background content */
}

.womensText{
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 2;
    margin: 13rem auto 13rem;
    width: 48vw;
}

.womensText p{
    font-size: 1.5rem;
}

.womensHeading{
    z-index: 2;
    font-family: "Inria Serif", serif;
    font-size: 6rem;
    font-weight: bold;
}

.womensFilterSection{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.womensLeft{
    width: 30vw;
    text-align: left;
}

:is(.my-navbar) {
    background-color: var(--bgHeaderFooter);
}
  

.womensLeft h1{
    font-family: "Inria Serif", sans-serif;
    margin-left: 2rem; 
    font-weight: bold;
    color: var(--primary);
}

.womensRight{
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
}

.womensLeft .navbar{
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: "Lato", sans-serif;
}
.womensLeft .navbar-brand {
    margin-right: 9rem;
}

.womensLeft .nav-link{
    font-family: "Lato", sans-serif;
}

.womensRight .form-control{
    border: 1px solid var(--alternative);
    width: 22vw;
}

.womensRight .form-control:hover{
    border: 1px solid var(--alternative);
}

.womensRight .form-control:focus{
    border: 1px solid var(--alternative);
    box-shadow: none;
}
  
.womensRight input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: url("data:image/svg+xml;utf8,<svg fill='%23121525' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M18.3,5.71a1,1,0,0,0-1.41,0L12,10.59,7.11,5.7A1,1,0,0,0,5.7,7.11L10.59,12,5.7,16.89a1,1,0,1,0,1.41,1.41L12,13.41l4.89,4.89a1,1,0,0,0,1.41-1.41L13.41,12l4.89-4.89A1,1,0,0,0,18.3,5.71Z'/></svg>") no-repeat center center / 100% auto;
}

.error-message {
    width: 50vw;
    color: var(--alternative); 
    font-size: 3rem; 
    font-weight: bold; 
   margin-left: 20rem;
}

 
.womensRight input::placeholder{
    font-style: italic;
}

.womensFilterSection .offcanvas{
    background-color: var(--bgHeaderFooter);
}

.btnSort{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    border: 1px solid white;
    border-radius: 0.4rem;
    margin-top: 2rem;
}

.womensProductsSection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 2rem;
    gap: 2.1rem;
    margin-top: 4rem;
}

.amount{
 color: var(--alternative);
}

.btnAddToCart{
    background-color: var(--alternative);
    color: var(--secondary);
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--secondary);
}

.btnAddToCart:hover,.btnAddToCart:active{
    background-color: var(--alternative);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.spinner-border {
    margin-left: 43rem;
}

/*---------------------------------------------- Mens Page --------------------------------------------*/
.mensBannerImage{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/banner11.jpg");
    background-size: cover;
    background-position: center;  
}

/*---------------------------------------------- Admin Page -----------------------------------------------------*/
.adminBannerImage{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/homeBanner.jpg");
    background-size: cover;
    background-position: center;  
}

.adminText{
    font-family: "Lato", sans-serif;
    position: relative;
    z-index: 2;
    margin: 15rem auto 15rem;
}

.adminHeading{
    z-index: 2;
    font-family: "Inria Serif", serif;
    font-size: 6rem;
    font-weight: bold;
}

.adminButtons{
    width: 93vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.btnSorting, .btnAddNewProducts{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
}

th, td{
    border: 1px solid black;
    padding: 0.6rem 2rem;
    margin: 0;
}

.tableContainer{
    width: 91vw;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--secondary);
}

.adminImages{
    width: 30%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.btnEdit{
    padding: 0.5rem 2.1rem;
    background-color: var(--alternative);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
}

.btnDelete{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
}

#addProductForm #name_error,#category_error{
    display: none;
}

/*---------------------------------------------- Contact Page -----------------------------------------------------*/
.contactBannerImage{
    position: relative;
    background-image: url("https://leahbasson.github.io/MyImages/jsProject/banner13.jpg");
    background-size: cover;
    background-position: center;  
}

.contact{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contactFirstCol p{
    width: 42vw;
    margin-left: 2rem;
    text-align: left;
    color: var(--primary);
    font-size: 1.2rem;
    margin-top: 3rem;
    font-family: "Lato", sans-serif;
}

.contactFirstCol h3{
    font-family: "Inria Serif",sans-serif;
    text-align: left;
    margin-left: 2rem;
    margin-top: 5rem;
    font-weight: bold;
}

.contactFirstCol h5{
    text-align: left;
    margin-left: 2rem;
    color: var(--primary);
    margin-top: 1rem;
}

.form-group{
    padding: 0.5rem 1rem;
}

.formDiv{
    text-align: left;
    margin-top: 3rem;
    font-family: "Lato", sans-serif;
}

.labelText{
    color: var(--primary);
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.form-control{
    background-color: var(--secondary);
    border: 1px solid var(--alternative);
}

.form-control::placeholder{
    font-style: italic;
    font-weight: 500;
}

.form-control:focus{
    border: 1px solid var(--alternative);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.btnContactSubmit{
    padding: 0.5rem 1rem;
    background-color: var(--alternative);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.cartHeading h1{
    text-align: left;
    font-family: "Inria Serif",sans-serif;
    margin-left: 3rem;
    font-size: 4rem;
}

.contact-label{
    color: var(--primary);
}

/*---------------------------------------- Checkout Page --------------------------------------------------------------*/
.checkoutImages{
    width: 6rem;
}


.checkoutTable{
    margin-left: 3.5rem;
    width: 70vw;
    background-color: var(--secondary);
}

.finalTotal{
    display: flex;
    margin-left: 4rem;
    color: var(--primary);
    margin-top: 2rem;
}

.btncheckout{
    padding: 0.5rem 1.5rem;
    width: 10vw;
    margin-left: 3.5rem;
    background-color: var(--alternative);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
    margin-top: 1rem;
}

/*---------------------------------------- Media query --------------------------------------------------------------*/
@media (width < 999px)
{ 
    /* Nav Section*/
    img[alt='logo']{
        width: 12rem;
    }

    .navbar-nav li::after{
        left: 50%;
        width: 30%;
    }

    .navbar-nav .nav-link{
        margin-right: 0;
        text-align: center;
    }

    .dropdown-menu{
        text-align: center;
    }

    .navbar-nav li .active{
        margin: auto;
    }

    /*----------------------------------------- Home Page Responsive ------------------------------------------------*/
    /* Home Section*/
    .homeHeading{
        font-size: 4rem;
    }

    .homeText{
        margin: 8rem auto 8rem;
    }

    .homeText i{
       font-size:  2.3rem;
    }
    .homeText p{
        margin-top: 1rem;
        font-size: 1rem;
    }

    /* Womens Collection Section */
    .secHeading h1{
        text-align: center;
        font-size: 2rem;
        margin-left: 0;
        font-weight: bold;
    }
    
    .cicrleContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 3rem;
    }
   
    .categoryCircles h3{
       font-size: 1.3rem;
       margin-bottom: 3rem;
       margin-top: 0.5rem;
    }
    
    .circle{
        width: 58vw;
        height: auto;
        border-radius: 50%;
        background-color: #b6b6b6;
        border: 1px solid var(--alternative);
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
    }

    /* About Section*/
    .aboutLinkText{
        margin: 5rem auto 5rem;
    }
    
    .aboutLinkHeading{
        font-size: 1.8rem;
    }
    
    .aboutLink i{
        font-size: 1.5rem;
    }
    
    .luxury{
        font-size: 1rem;
        font-style: italic;
    }
    
    .aboutLink p{
        font-size: 1rem;
    }
    
    .btnAboutLink{
        padding: 0.5rem 1.5rem;
        background-color: var(--alternative);
        border: 1px solid white;
        margin-top: 2rem;
    }

    /* New Arrivals Section */
.newArrivalsProducts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


    /* Mens Collection Section*/
    .cicrleContainerMens{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 0;  

    }

    .cicrleContainerMens .firstCircle{
        margin-left: 0;
    }

/*----------------------------------------- About Page Responsive ------------------------------------------------*/
   /* About Banner Section*/
   .aboutText{
    margin: 6rem auto 6rem;
}

.aboutHeading{
    font-size: 4.8rem;
}

.welcome{
    font-size: 2rem;
}

.intro{
    font-size: 1rem;
}

 /* Our Mission Section*/
.ourMissionContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.ourMissionFirst{
    width: 87vw;
}

.ourMissionFirst p{
    font-size: 1.2rem;
}

img[alt="aboutImage1"]{
    width: 82vw;
}


.ourPromiseSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.promise{
    width: 60vw;
}

.promise img{
    width: 15vw;
}

.promise p{
    font-size: 1.2rem;
}

.craftsmanshipContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
}

.block1{
    order: 2;
    width: 82vw;
}

.block2{
    order: 1;
    width: 87vw;
}

.block2 p {
    font-size: 1.2rem;
}

/*----------------------------------------- Womens Page Responsive ---------------------------------------------------*/
/* Womens Banner Section*/
.womensText {
    width: 100%;
    margin: 10rem auto 10rem;
}

.womensHeading{
    font-size: 3rem;
}

.womensIntro{
    font-size: 1rem;
}

/*Womens Filter Section*/
.womensFilterSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.womensLeft{
    width: 80vw;
    text-align: center;
}

.womensRight{
    margin: auto;
    width: 80vw;
    margin-left: 0;
    margin-right: 0;
}

.womensLeft h1{
    margin-left: 0;
    font-size: 2rem;
}

.womensLeft .navbar{
    margin-left: 0;
    margin-top: 0;
}

.womensLeft .navbar-brand {
    margin-right: 0;
}

.womensRight .form-control{
    border: 1px solid var(--alternative);
    width: 80vw;
}

.error-message {
    width: 70vw; 
    font-size: 1rem; 
   margin-left: 0;
}

.formMobile{
    display: flex;
    flex-direction: column;
}

.btnWomensSearch {
    width: 80vw;
    margin-top: 1rem;
}

.btnSort{
 width: 80vw;
}

/* Womens Product Section*/
.womensProductsSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: -1rem;
}

.card{
    width: 78vw;
}

/*----------------------------------------- Admin Page Responsive ---------------------------------------------------*/
.adminText{
    margin: 15rem auto 15rem;
}

.adminButtons{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adminHeading{
    font-size: 4rem;
}

.adminImages{
    width: 6rem;
}

.tableContainer{
    width: 84vw;
}

.tableContainer table, thead, tbody, th, td, tr {
    display: block;
}

.tableContainer table {
    margin-bottom: 5rem;
}

.tableContainer thead tr {
    display: none;
}

.tableContainer tr {
    margin-bottom: 15px;
}

.tableContainer td {
    position: relative;
    padding-left: 50%;
}

.tableContainer td:before {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    transform: translateY(-50%);
}

.tableContainer td:nth-of-type(1):before { content: "Product Name"; }
.tableContainer td:nth-of-type(2):before { content: "Category"; }
.tableContainer td:nth-of-type(3):before { content: "Image"; }
.tableContainer td:nth-of-type(4):before { content: "Material"; }
.tableContainer td:nth-of-type(5):before { content: "Amount"; }
.tableContainer td:nth-of-type(6):before { content: "Action"; }
.tableContainer .total-row td:before { content: ""; }
.tableContainer .total-row td:before { content: ""; }



/*----------------------------------------- Contact Page Responsive ---------------------------------------------------*/
.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contactFirstCol p{
    width: 74vw;
    margin: auto;
}

.contactFirstCol h3{
    text-align: center;
    margin-bottom: 1rem;
}

.contactFirstCol h5{
    font-size: 1rem;
    margin: auto;
    text-align: center;
    margin-left: 0;
    margin-bottom: 1rem;
}

.form-group{
    width: 84vw;
    margin: auto;
}

.form-control{
    background-color: var(--secondary);
    border: 1px solid var(--alternative);
}
    
     /* Footer Section */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
}

img[alt="footerLogo"]{
    width: 80vw;
}

.leftSection{
    width: 80vw;
    margin-left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection{
    margin-left: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.leftSection h3{
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-size: 1.1rem;  
}

.leftSection h5{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 1rem;

}

 .input-container {
    position: relative;
    width: 70vw;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
  
 
.btnSubscribe{
    padding: 0.5rem 1.5rem;
    background-color: var(--alternative);
    border: 1px solid white;
    margin-bottom: 2rem;
    margin: auto;
}

.rightSection h4{
    font-family: "Inria serif", sans-serif;
    font-weight: bold;
    color: var(--alternative);
    font-size: 2rem;
    text-align: center;
}

.socialIcons{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.links{
    width: 26vw;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.Products{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.Company{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  
}

.rightSection a{
    text-decoration: none;
    color: var(--primary);
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.copyRightSection{
    text-align: center;
}

/*---------------------------------------- Checkout Page Responsive --------------------------------------------------------------*/
.checkoutImages{
    width: 3rem;
}

.cartHeading h1{
    font-size: 2rem;
    margin-left: 0;
    text-align: center;
}

.checkoutTr{
    display: none;
}

.checkoutTable{
    width: 84vw;
    margin-left: 0;
    margin: auto;
}

.finalTotal{
    display: flex;
    margin-left: 0;
    color: var(--primary);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btncheckout{
    width: 80vw;
    margin-left: 0;
    margin-top: 2rem;
    margin: auto;
}

.checkoutTable table, thead, tbody, th, td, tr {
    display: block;
}

.checkoutTable table {
    margin-bottom: 5rem;
}

.checkoutTable thead tr {
    display: none;
}

.checkoutTable tr {
    margin-bottom: 15px;
}

.checkoutTable td {
    position: relative;
    padding-left: 50%;
}

.checkoutTable td:before {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    transform: translateY(-50%);
}

.checkoutTable td:nth-of-type(1):before { content: "Product Name"; }
.checkoutTable td:nth-of-type(2):before { content: "Image"; }
.checkoutTable td:nth-of-type(3):before { content: "Category"; }
.checkoutTable td:nth-of-type(4):before { content: "Quantity"; }
.checkoutTable td:nth-of-type(5):before { content: "Amount"; }
.checkoutTable td:nth-of-type(6):before { content: "Total"; }
.checkoutTable .total-row td:before { content: ""; }
.checkoutTable .total-row td:before { content: ""; }

/*End of Media Query*/
}
    
    